.container {
display: flex;
}
.box1 {
    width: 50%;
    height: 200px;
display: flex;
border: 1px solid black;

}
.box2 {
    height: 200px;
    width: 50%;
    display: flex;
    border: 1px solid black;
   
}
.procenat80 {   
    width: 80%;
    background-color: tomato;
    margin: 0;

}
.procenat20 {
    background-color: gold;
    width: 20%;
    margin: 0;

}